@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-1">
                <label asp-for="currentPass" class="control-label"></label>
                <input asp-for="currentPass" class="form-control" />
                <span asp-validation-for="currentPass" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="newPass" class="control-label"></label>
                <input asp-for="newPass" class="form-control" />
                <span asp-validation-for="newPass" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="confirmPass" class="control-label"></label>
                <input asp-for="confirmPass" class="form-control" />
                <span asp-validation-for="confirmPass" class="text-danger"></span>
            </div>
            <div class="form-group float-end mt-1">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="GetAllUsers" class="btn btn-danger">Cancel</a>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
