@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";

}

<h1>Register</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-1">
                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                <label asp-for="UserName" class="control-label"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="Email" class="form-control" placeholder="User Name" />
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="Password" class="form-control" placeholder="User Name" />
                <label asp-for="Password" class="control-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="User Name" />
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 float-end">
                <input type="submit" value="Register" class="btn btn-primary " />
                <a asp-controller="Administrator" asp-action="GetAllUsers" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
